<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h3>On this blog</h3>
                <p><a href="{{ relref . "/" }}">Home</a></p>
                 {{/*
                <p><a href="{{ relref . "archive" }}">Archive</a></p>
                */}}
                <p><a href="{{ relref . "tags" }}">Tags</a></p>
                <p><a href="{{ relref . "pages/progress" }}">Progress</a></p>
            </div>
            <div class="column">
                <h3>Related sites</h3>
                <p><a href="https://www.youtube.com/channel/UCDn07eKw2HDPIgSAGQgliAA"><span class="fab fa-youtube fa-lg fa-fw"></span> YouTube Channel</a></p>
                <p><a href="https://github.com/paul80nd"><span class="fab fa-github fa-lg fa-fw"></span> GitHub Repos</a></p>
                <p><a href="http://simulator.relaycomputer.co.uk"><span class="fas fa-flask fa-lg fa-fw"></span> Relay Simulator</a></p>
            </div>
            <div class="column">
                <h3>Share on social media</h3>
                <p><a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&amp;quote={{ .Page.Title }}" target="_blank"><span class="fab fa-facebook fa-lg fa-fw"></span> Share on Facebook</a></p>
                <p><a href="https://twitter.com/intent/tweet?source={{ .Permalink }}&amp;text={{ .Page.Title }}" target="_blank"><span class="fab fa-twitter fa-lg fa-fw"></span> Tweet</a></p>
                <p><a href="http://www.tumblr.com/share?v=3&amp;u={{ .Permalink }}&amp;quote={{ .Page.Title }}&amp;s=" target="_blank"><span class="fab fa-tumblr fa-lg fa-fw"></span> Post to Tumblr</a></p>
                <p><a href="http://pinterest.com/pin/create/button/?url={{ .Permalink }}&amp;description={{ .Page.Title }}" target="_blank"><span class="fab fa-pinterest fa-lg fa-fw"></span> Pin it</a></p>
                <p><a href="http://www.reddit.com/submit?url={{ .Permalink }}&amp;title={{ .Page.Title }}" target="_blank"><span class="fab fa-reddit fa-lg fa-fw"></span> Submit to Reddit</a></p>
                <p><a href="mailto:?subject={{ .Page.Title }}&amp;body={{ .Permalink }}" target="_blank"><span class="fas fa-envelope fa-lg fa-fw"></span> Send email</a></p>
            </div>
        </div>
    </div>
</footer>
