{{ $page := . }}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- author begin -->
{{ $author := $page.Params.author | default $page.Site.Params.author }}
{{ with $author }}
    <meta name="author" content="{{ . }}">
{{ end }}
<!-- author end -->

<!-- SEO begin -->
{{ $keywords := (delimit $page.Keywords ",") | default $page.Site.Params.keywords }}
{{ with $keywords }}
    <meta name="keywords" content="{{ . }}">
{{ end }}
{{ $description := $page.Description | default $page.Params.summary | default $page.Summary | default $page.Site.Params.description }}
{{ with $description }}
    <meta name="description" content="{{ . }}">
{{ end }}
{{ $title := printf "%s | %s " $page.Title $page.Site.Title }}
{{ $title = strings.TrimLeft " | " $title}}
{{ with $title }}
    <title>{{ $title }}</title>
{{ end }}
<link rel="canonical" href="{{ $page.Params.canonical | default $page.Permalink }}">
<!-- SEO end -->

<!-- alternate outputs begin -->
{{ range $page.AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $title }}">
{{ end }}
<!-- alternate outputs end -->

<!-- favicon begin -->
{{ $icon16 := (partial "functions/favicon.html" (dict "context" $page "size" 16)) }}
{{ with $icon16 }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .RelPermalink }}">
{{ end }}
{{ $icon32 := (partial "functions/favicon.html" (dict "context" $page "size" 32)) }}
{{ with $icon32 }}
<link rel="icon" type="image/png" sizes="32x32" href="{{ .RelPermalink }}">
{{ end }}
{{ $icon180 := (partial "functions/favicon.html" (dict "context" $page "size" 180)) }}
{{ with $icon180 }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}">
{{ end }}
<link rel="manifest" href="{{ "index.webmanifest" | relLangURL }}">
<!-- favicon end -->

<!-- Begin CSS Styles -->
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/app.css">
<!-- End CSS Styles -->

{% include head-favicon.html %}
{% feed_meta %}

{% include cookie-consent.html %}
