{{ $page := . -}}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $title := printf "%s | %s" $page.Title $page.Site.Title -}}
{{ $title = strings.TrimLeft " | " $title -}}
{{ with $title }}<title>{{ $title }}</title>{{ end }}

{{ $author := $page.Params.author | default $page.Site.Params.author -}}
{{ $description := $page.Description | default $page.Params.summary | default $page.Summary | default $page.Site.Params.description -}}
{{ $keywords := (delimit $page.Keywords ",") | default $page.Site.Params.keywords -}}
<meta property="og:title" content="{{ $page.Title }}" />
{{ with $author }}<meta name="author" content="{{ . }}" />{{ end }}
{{ with $description }}<meta name="description" content="{{ . }}">{{ end }}
<link rel="canonical" href="{{ $page.Params.canonical | default $page.Permalink }}" />
{{ with $keywords }}<meta name="keywords" content="{{ . }}">{{ end }}

<!-- Begin CSS Styles -->
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,500,700" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/app.css">
<!-- End CSS Styles -->

{{ $icon16 := (partial "functions/favicon.html" (dict "context" $page "size" 16)) -}}
{{ $icon32 := (partial "functions/favicon.html" (dict "context" $page "size" 32)) -}}
{{ $icon180 := (partial "functions/favicon.html" (dict "context" $page "size" 180)) -}}
{{ with $icon16 }}<link rel="icon" type="image/png" sizes="16x16" href="{{ .RelPermalink }}">{{ end }}
{{ with $icon32 }}<link rel="icon" type="image/png" sizes="32x32" href="{{ .RelPermalink }}">{{ end }}
{{ with $icon180 }}<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}">{{ end }}
<link rel="manifest" href="{{ "index.webmanifest" | relLangURL }}">

{% feed_meta %}

{% include cookie-consent.html %}
