{{ $plink := .RelPermalink }}
<div class="theme-bg">
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-light text-decoration-none">
        <img class="me-2" src="/img/favicon/favicon-96x96.png" width="32">
        <span class="fs-4">{{ .Site.Title}}</span>
      </a>
      <ul class="nav">
        {{ range $.Site.Menus.main }}
        <li class="nav-item">
          <a href="{{ .URL }}" class="nav-link link-{{ if eq .URL $plink }}warning{{ else }}light{{ end }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </header>
  </div>
</div>
