$ribbon-color: var(--bulma-text) !default;
$ribbon-background-color: var(--bulma-background) !default;
$ribbon-border: .1rem solid var(--bulma-background) !default;

$colors: (
  "link",
  "primary",
  "info",
  "success",
  "warning",
  "danger"
);

.has-ribbon {
  position: relative;
}

.has-ribbon-left {
  position: relative;

  .ribbon {
    right: auto;
    left: 0;
    border-left: none;
    border-right: $ribbon-border;
  }
}

.has-ribbon-bottom {
  position: relative;

  .ribbon {
    top: auto;
    bottom: .5em;
  }
}

.ribbon {
  background-color: $ribbon-background-color;
  border: $ribbon-border;
  border-right: none;
  color: $ribbon-color;
  font-size: var(--bulma-size-normal);
  font-weight: 500 !important;
  justify-content: center;
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: .4em;
  padding-bottom: .35em;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: .8rem;
  right: 0;
  font-weight: 400;
  z-index: 2;

  @each $name in $colors {
    &.is-#{$name}:not(.is-outlined) {
      background-color: var(--bulma-#{$name});

      color: var(--bulma-#{$name}-invert) !important;
    }
  }

  // Sizes
  &.is-small {
    font-size: var(--bulma-size-small);
  }

  &.is-medium {
    font-size: var(--bulma-size-medium);
  }

  &.is-large {
    font-size: var(--bulma-size-large);
  }
}
