@charset "utf-8";

$white: hsl(221, 14%, 100%);
$pcb-green: hsl(93, 100%, 13%);

@use "bulma/sass" with (
  $blue: hsl(153, 53%, 45%),
  $family-sans-serif: '"Montserrat", sans-serif',
  $primary: $pcb-green,
  $navbar-item-color: $white,
  $navbar-tab-active-color: $white,
  $title-weight: 500,
  $subtitle-weight: 300,
  $content-heading-weight: 500,
);
@use "bulma/sass/utilities/mixins";

@use "bulma-ribbon.scss";
@use "railroad.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300..800;1,300..800&display=swap');

//$tabs-link-active-color: $primary;
//$tabs-link-active-border-bottom-color: $primary;


/*
.hpc-image {
  width: 10rem !important;
}*/


:root {
  --bulma-primary-invert-l: 100%;
}

.hero.is-primary {
  --bulma-hero-color-l: 95%;

  .breadcrumb {
    --bulma-breadcrumb-item-color: $white;
    --bulma-breadcrumb-item-separator-color: $white;
  }

  .breadcrumb a {
    color: $white;
  }
}

.pull-up {
  @include mixins.tablet {
    margin-top: -10rem !important;
  }
}

.content {
  p:not(.title), table, li {
    a {
      font-weight: 500;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.card {
  border: .1px solid var(--bulma-grey);
}

.tag.is-link {
 background-color: #485fc7;
 color: $white;
}
.tag.is-info {
  background-color: #3e8ed0;
  color: $white;
}
.tag.is-success {
  color: $white;
}

//.bg-img {
//  background-position: center center;
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-color: #ccc;
//}

//.hero {
//  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//}
/*
.highlight {
  margin-bottom: 1.2em;
}
*/

// Progress image blocks

.progress-blockimg {
  border: 2px solid var(--bulma-body-background-color);
  border-right: none;
}

.progress-blockimg:last-child {
  border-right: 2px solid var(--bulma-body-background-color);
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;

  figure {
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
  }
}

// Override corners when used in a card image
.card-image {
  .progress-blockimg:first-child {
    border-top-left-radius: 0.8rem;

    figure {
      border-top-left-radius: 0.7rem;
    }
  }

  .progress-blockimg:last-child {
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0;

    figure {
      border-top-right-radius: 0.7rem;
      border-bottom-right-radius: 0;
    }
  }
}

.tabs-content li:not(.is-active) {
  display: none;
}
