<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ $title := printf "%s | %s" .Title .Site.Title -}}
  {{ $title = strings.TrimLeft " | " $title -}}
  {{ with $title }}<title>{{ $title }}</title>{{ end }}

  {{ $author := .Params.author | default .Site.Params.author -}}
  {{ $description := .Description | default .Params.summary | default .Summary | default .Site.Params.description -}}
  {{ $keywords := (delimit .Keywords ",") | default .Site.Params.keywords -}}
  <meta property="og:title" content="{{ .Title }}" />
  {{ with $author }}
  <meta name="author" content="{{ . }}" />{{ end }}
  <meta property="og:locale" content="{{ .Language.Lang }}" />
  {{ with $description -}}
  <meta name="description" content="{{ . }}" />
  <meta property="og:description" content="{{ . }}" />
  {{ end -}}
  <link rel="canonical" href="{{ .Params.canonical | default .Permalink }}" />
  <meta property="og:url" content="{{ .Params.canonical | default .Permalink }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  {{ with $keywords }}
  <meta name="keywords" content="{{ . }}">{{ end }}

  {{ "<!-- Begin CSS Styles -->" | safeHTML }}
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  {{ $cssOpts := (dict "includePaths" (slice "node_modules/bulma" "node_modules/bulma-badge/dist/css" "assets/css")) }}
  {{ with $styles := resources.Get "css/main.scss" | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
  {{ end }}
  {{ "<!-- End CSS Styles -->" | safeHTML }}

  <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="/img/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {{ range .AlternativeOutputFormats -}}
  {{ printf `
  <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ "<!-- Begin EU Cookie Consent -->" | safeHTML }}
  {{ partial "plugins/cookie-consent.html" -}}
  {{ "<!-- End EU Cookie Consent -->" | safeHTML }}

  {{ "<!-- Begin Google Analytics -->" | safeHTML }}
  {{ template "_internal/google_analytics.html" . }}
  {{ "<!-- End Google Analytics -->" | safeHTML }}

</head>

<body>
  {{ partial "widgets/header.html" . }}
  {{ partial "widgets/hero.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "widgets/footer.html" . }}
</body>

</html>
