@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$family-sans-serif: 'Montserrat', sans-serif;
$primary: hsl(93, 100%, 13%) !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

@import 'bulma.sass';
@import 'bulma-badge.sass';

@import "bulma-ribbon.sass";

.bg-img {
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    background-color: #ccc;
}

.hero {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
