{{ define "main" }}
{{ partial "hero" (dict "title" "Blog Posts" "subtitle" (printf "List of all articles (page %d of %d)"
.Paginator.PageNumber .Paginator.TotalPages)) }}
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {{ range .Paginator.Pages }}
      <div class="column is-half">
        {{ .Render "summary" }}
      </div>
      {{ end }}
    </div>
    <div class="card">
      <div class="card-content py-3">
        {{ partial "home-pager" .Paginator }}
      </div>
    </div>
  </div>
</section>
{{ end }}
