{{ define "main" }}
{{ partial "site-hero.html" . }}
<section class="section has-background-white">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters-widescreen">
        <div class="content">
          {{ .Content }}
        </div>
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <span class="tags has-addons">
              <span class="tag is-link">Published</span>
              <span class="tag is-info">{{ .Date.Format "Jan 02, 2006" }}</span>
            </span>
          </div>
          {{ with .Param "cards" }}
          {{ range (. | sort) }}
          <div class="control">
            <a href="/cards/{{ . }}" class="tags has-addons">
              <span class="tag is-link">Card</span>
              <span class="tag is-info">{{ . }}</span>
            </a>
          </div>
          {{ end }}
          {{ end }}
          </div>
          <div class="field is-grouped is-grouped-multiline">
          {{ with .Param "tags" }}
          {{ range (. | sort) }}
          <div class="control">
            <a href="/tags/{{ . }}/" class="tags">
              <span class="tag is-primary">{{ . }}</span>
            </a>
          </div>
          {{ end }}
          {{ end }}
        </div>
        <div class="columns">
          <div class="column">
            {{with .PrevInSection}}
            <span class="has-text-weight-semibold">Previous Post</span><br />
            <a href="{{.RelPermalink}}">{{ .Title }}</a>
            {{end}}
          </div>
          <div class="column has-text-right">
            {{with .NextInSection}}
            <span class="has-text-weight-semibold">Next Post</span><br />
            <a href="{{.RelPermalink}}">{{ .Title }}</a>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

