{{ $image := .Params.thumbnail }}
<article class="card" style="height: 100%;">
  <div class="card-content has-background-white">
    <div class="content">
      <p class="title is-4 mb-3"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
      <div class="media">
        <div class="media-content">
          <div class="content">
            <p>
              {{ .Summary | truncate 175 }}
              {{ with .Param "tags" }}
              <br />
              <small>
                {{ range (. | sort) }}
                <a href="/tags/{{ . | urlize }}">
                  #{{ . }}
                </a>
                {{ end }}
              </small>
              {{ end }}
            </p>
            <p>
              <a href="{{ .RelPermalink }}" class="button is-small">Read More</a>
            </p>
          </div>
        </div>
        {{ with $image }}
        <div class="media-right">
          <figure class="image m-0">
            <img src="{{ $image }}" class="hpc-image">
          </figure>
        </div>
        {{ end }}
      </div>
      <div class="tags">
        <span class="tag is-link is-light">Published {{.Date.Format "02 Jan 2006"}} </span>
        <span class="tag is-link is-light">{{ .ReadingTime }} min read</span>
      </div>
    </div>
  </div>
</article>
