<section class="hero is-bold is-small is-primary">
  <div class="hero-body pb-3 pt-4">
    <div class="container">
      <nav class="breadcrumb has-succeeds-separator is-small mb-2" aria-label="breadcrumbs">
        <ul>
          <li> <a href="/"> Home </a> </li>
          {{ if isset . "section" }}
          <li> <a href="/{{ (lower .section) }}"> {{ .section }} </a> </li>
          {{ end }}
          <li class="is-active"> <a href="#">{{.title}}</a> </li>
        </ul>
      </nav>
      <h1 class="title is-size-4">{{ .title }}</h1>
      <h2 class="subtitle">{{ .subtitle }}</h2>
    </div>
  </div>
</section>
