{{ range first 1 (where .Site.RegularPages "Type" "posts") }}
{{ $image := .Params.thumbnail }}
<article class="tile is-child card">
  <div class="card-image">
    <figure class="image" style="height:8rem; overflow:hidden;">
      {{ with $image }}
      <img src="{{ . }}" alt="Placeholder image">
      {{ end }}
    </figure>
  </div>
  <div class="card-content has-background-white">
    <p class="subtitle is-7 mb-5"><b>Latest Post</b> - {{.Date.Format "02 Jan 2006"}}</p>
    <p class="title is-4 mb-3">
      <a href="{{ .RelPermalink }}">{{.Title}}</a>
    </p>
    <div class="content">
      <p>{{ .Summary | truncate 250 }}</p>
    </div>
    <div class="columns is-vcentered is-mobile">
      <div class="column is-narrow">
        <a href="{{ .RelPermalink }}" class="button">Read More</a>
      </div>
      <div class="column is-narrow">
        <small class="has-text-dark">
          {{ .ReadingTime }} min read
        </small>
      </div>
      {{ with .Param "tags" }}
      <div class="column" style="line-height: 1rem;">
        <small>
          {{ range (. | sort) }}
          <a href="/tags/{{ . | urlize }}">
            #{{ . }}
          </a>
          {{ end }}
        </small>
      </div>
      {{ end }}
    </div>
  </div>
</article>
{{ end }}
