<article class="card" style="height:100%;" >
  <div class="card-content">
      <div class="content">
          <h3>Links</h3>
          <p>You can also find more information at these sites ...</p>
          <p><a href="{{ .Site.Params.youtube_channel_url }}"><span class="fab fa-youtube fa-lg fa-fw"></span> YouTube Channel</a></p>
          <p><a href="{{ .Site.Params.github_profile_url }}"><span class="fab fa-github fa-lg fa-fw"></span> GitHub Repos</a></p>
          <p>... and you can program and play with a simulation of my relay computer here ...</p>
          <p><a href="{{ .Site.Params.editor_url }}"><span class="fas fa-flask fa-lg fa-fw"></span> Relay Code Editor</a></p>
          <p><a href="{{ .Site.Params.simulator_url }}"><span class="fas fa-code fa-lg fa-fw"></span> Relay Simulator</a></p>
      </div>
  </div>
</article>
