{{ range first 1 (where .Site.RegularPages "Type" "posts") }}
{{ $image := .Params.thumbnail }}
<article class="tile is-child card bg-img"
  style="display: flex; flex-flow: column-reverse; {{ with $image }} background-image: url('{{ $image }}'){{end}}">
  <div class="card-content has-background-white"
    style="flex-basis:0; margin-top: 10em; border-top-left-radius: 0; border-top-right-radius: 0; border-top: 1px solid lightgrey">
    <p class="subtitle">Latest Post:</p>
    <p class="title">
      <a href="{{ .RelPermalink }}">{{.Title}}</a>
    </p>
    <div class="content">
      <p>{{ .Summary | truncate 250 }}</p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <div class="tags">
            <span class="tag is-link is-light">Published {{.Date.Format "02 Jan 2006"}} </span>
            <span class="tag is-link is-light">{{ .ReadingTime }} min read</span>
            {{ with .Param "tags" }}
            {{ range (. | sort) }}
            <a href="/tags#{{ . }}" class="tag is-success is-light is-rounded">
              {{ . }}
            </a>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      <div class="level-right">
        <div class="level-item has-text-right">
          <a href="{{ .RelPermalink }}" class="button">Read More</a>
        </div>
      </div>
    </nav>
  </div>
</article>
{{ end }}
