<section class="hero is-small is-success">
  <div class="hero-body py-1">
  </div>
</section>
<footer class="footer pt-5">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p class="has-text-weight-semibold">On this blog</p>
        <p><a href="{{ ref . "/" }}">Home</a></p>
        <p><a href="{{ ref . "/posts" }}">Posts</a></p>
        <p><a href="{{ ref . "/tags" }}">Tags</a></p>
        <p><a href="{{ ref . "/pages/progress" }}">Progress</a></p>
      </div>
      <div class="column">
        <p class="has-text-weight-semibold">Related sites</p>
        <p><a href="https://www.youtube.com/channel/UCDn07eKw2HDPIgSAGQgliAA"><span
              class="fab fa-youtube fa-lg fa-fw"></span> YouTube Channel</a></p>
        <p><a href="https://github.com/paul80nd"><span class="fab fa-github fa-lg fa-fw"></span> GitHub Repos</a></p>
        <p><a href="http://simulator.relaycomputer.co.uk"><span class="fas fa-flask fa-lg fa-fw"></span> Relay
            Simulator</a></p>
      </div>
      <div class="column">
        <p class="has-text-weight-semibold">Share this page</p>
        <p>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&quote={{ .Title }}" target="_blank" title="Share on Facebook"><i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i><span class="sr-only">Share on Facebook</span></a>
            <a href="https://twitter.com/intent/tweet?source={{ .Permalink }}&text={{ .Title }}:{{ .Permalink }}" target="_blank" title="Tweet"><i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i><span class="sr-only">Tweet</span></a>
            <a href="http://pinterest.com/pin/create/button/?url={{ .Permalink }}&description={{ .Title }}" target="_blank" title="Pin it"><i class="fab fa-pinterest-square fa-2x" aria-hidden="true"></i><span class="sr-only">Pin it</span></a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&source={{ .Permalink }}" target="_blank" title="Share on LinkedIn"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i><span class="sr-only">Share on LinkedIn</span></a>
            <a href="mailto:?subject={{ .Title }}&body={{ .Permalink }}" target="_blank" title="Send email"><i class="fas fa-envelope-square fa-2x" aria-hidden="true"></i><span class="sr-only">Send email</span></a>
        </p>
      </div>
    </div>
  </div>
</footer>
