{{ define "main" }}
{{ $page := . }}
{{ partial "site-hero.html" . }}
<section class="section">
  <div class="container">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") -}}
    {{ if eq $paginator.PageNumber 1 }}
    <div class="tile is-ancestor pull-up">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-4">
            <!-- home welcome begin -->
            <article class="card">
              <div class="card-content">
                <div class="content">
                  <h3>Welcome</h3>
                  <p>
                    This is my blog covering the design and construction of a computer made from relays.
                    If you're new here then a good place to start is the
                    <a href="{{ relref . "pages/overview" }}">overview page</a>.
                  </p>
                  <p>
                    The summaries also give more detail on the various aspects of the computer:
                    <a href="{{ relref . "pages/alu" }}">ALU</a>,
                    <a href="{{ relref . "pages/control" }}">Control</a>,
                    <a href="{{ relref . "pages/enclosure" }}">Enclosure</a>,
                    <a href="{{ relref . "pages/instructions" }}">Instructions</a>,
                    <a href="{{ relref . "pages/registers" }}">Registers</a> &amp;
                    <a href="{{ relref . "pages/ui" }}">UI</a>
                  </p>
                  <p>
                    To see how far I've got check out the <a href="{{ relref . "pages/progress" }}">Progress</a> page.
                  </p>
                </div>
              </div>
            </article>
            <!-- home welcome end -->
          </div>
          <div class="tile is-parent">
            {{ partial "home-spotlight" $page }}
          </div>
        </div>
      </div>
    </div>
    {{ end }}

    <div class="columns is-multiline {{ if ne $paginator.PageNumber 1}}pull-up{{ end }}">
      {{ range $index, $element := $paginator.Pages }}
      {{ if or (ne $paginator.PageNumber 1) (ne $index 0) }}
      <div class="column is-half">
        {{ .Render "summary" }}
      </div>
      {{ end }}
      {{ end }}

      {{ if eq $paginator.PageNumber 1 }}
      <div class="column is-half">
        {{ partial "home-find-me" . }}
      </div>
      {{ end }}

    </div>
    <div class="card">
      <div class="card-content py-3">
        {{ partial "home-pager" .Paginator }}
      </div>
    </div>
  </div>
</section>
{{ end }}
