<div class="columns is-multiline">

  <div class="column is-12">
    <div class="tabs-wrapper">
      <div class="tabs">
        <ul>
          {{ range $index, $element := $.Site.Data.progress }}
          <li class="{{ if (eq $index 0) }}is-active{{ end }}"><a>{{ $element.title }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="tabs-content">
        <ul>
          {{ range $index, $element :=  $.Site.Data.progress }}
          <li class="{{ if (eq $index 0) }}is-active{{ end }} pt-3">
            <div class="columns is-multiline">
              {{ range .cards }}
              {{ partial "progress-block" . }}
              {{ end }}
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
